* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    /* background: linear-gradient(135deg, #17205A, #C74CBA, #DD7944, #5E9EC2); */
    background:
    linear-gradient(217deg, rgb(243 8 102 / 80%), rgb(255 0 0 / 0%) 70.71%),
    linear-gradient(130deg, rgb(23 32 90 / 80%), rgb(255 0 0 / 0%) 70.71%),
    linear-gradient(127deg, rgb(23 32 90 / 80%), rgb(0 255 0 / 0%) 70.71%),
    linear-gradient(336deg, rgb(0 0 255 / 80%), rgb(0 0 255 / 0%) 70.71%);
    font-family: 'Be Vietnam Pro', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
    padding: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.content {
    padding: 3rem;
    border-radius: 15px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 90%;
}


h1 {
    color: white;
    font-size: 2.5rem;
    font-weight: 700;
}

h2 {
    color: white;
    font-size: 8rem;
    font-weight: 700;
 }

p {
    color: white;
    font-size: 1.25rem;
    line-height: 1.6;
}

.start-button {
    background-color: #0048FF;
    color: white;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 500;
    border: none;
    margin-top: 2rem; 
    padding: 1rem 2rem;
    gap: 0.5rem;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
}

.start-button p {
    font-size: 2.5rem;
}

.start-button:hover {
    background-color: #0032D7;
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.start-button:active {
    transform: translateY(0);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
